body {
    background: #6b3af3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {
 width: 400px;
}
.form__item {
    display: block;
    width: 100%;
}
.form label {
    display: block;

}
.form textarea {
    width: 100%;
    height:100px;
}